.background-image-container {
    background-image: url('./../../../../../../../../../../Downloads/luxa.org-opacity-changed-ImageForNews_744910_16813559615181685.webp');
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  .allPage {
    text-align: center;
    padding: 50px 200px 50px 200px;
    background-image: url('./../../../../../../../../../../Downloads/luxa.org-opacity-changed-ImageForNews_744910_16813559615181685.webp');
    background-size: cover;
    background-repeat: no-repeat;
    

  }