.AllStrains ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.AllStrains li {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: rgb(231, 229, 229);
    transition: transform 0.3s;
    transform: translateX(0px);
    width: 450px;

}

.AllStrains li:hover {
    transition: transform 0.3s;
    transform: translateX(30px);

}

.AllStrains .poster {
    width: 45px;
    
}

