.footer {
    /* 
    text-align: center;
    margin-top: 90%; */

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #26a550;
    padding: 10px;

  }
  
  
  .footer p {
    margin: 0;
  }
  