.Header {
  background-color: #26a550f0;
  color: white;
}

.Header .logo {
  font-size: 1.25rem;
  text-align: center;
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header a:hover {
  color: coral;
}

.LoggedIn {
  display: flex;
  margin: auto 20px;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
