.Header {
  background-color: #26a550;
  color: white;
}

.Header .logo {
  font-size: 1.25rem;
  text-align: center;
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header a:hover {
  font-weight: 300;
}


.LoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
